<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/nico.jpg " id="fotoperfil" 
        class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Nicolas Martino Maero</p>
        <p>Full Stack Developer Junior</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Voluptatem atque porro repellat dolorum! Consequuntur, 
                 qui minus. Architecto, repudiandae consequuntur saepe 
                 accusamus velit voluptatum nulla cupiditate error impedit 
                 cum repellendus a.</p>
        </span>
    </div>
</div>

