<div class="row" >
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Facultad</h2> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis perferendis voluptatum ullam, amet doloribus vitae assumenda, nemo quo earum eaque reiciendis, 
                fugit pariatur quidem explicabo asperiores! Dolorum sapiente consequatur impedit!</p>
        </ul>
        <ul>
            <li>
                <h2>Colegio</h2> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis perferendis voluptatum ullam, amet doloribus vitae assumenda, nemo quo earum eaque reiciendis, 
                fugit pariatur quidem explicabo asperiores! Dolorum sapiente consequatur impedit!</p>
        </ul>
        <ul>
            <li>
                <h2>Facultad</h2> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis perferendis voluptatum ullam, amet doloribus vitae assumenda, nemo quo earum eaque reiciendis, 
                fugit pariatur quidem explicabo asperiores! Dolorum sapiente consequatur impedit!</p>
        </ul>

    </div>
</div>

